<!doctype html>

<html>

<head>
    <script type="application/javascript">
        function wsEvent() {
            var url = "{{ discordLink }}";
            window.location = url.replace(/amp;/gi, "");
        }
    </script>
    <title>Discord Authenticator</title>
</head>
<body>
<script type="application/javascript">
    wsEvent();
</script>
</body>

</html>